@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

&__content{
    flex:1;
  }

  &__footer{
    //color: #e3e3e3;
    //background: #6b6b6b;
    min-height: 50px;
    display: flex;
    align-items: center;
  }
}

.item{
  cursor: pointer;
}

.image-box {
  border: 2px solid #eeeeee;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position:relative;
  height:60vh;
}
//.reactEasyCrop_Container{
//  top:20px !important;
//  bottom:20px !important;
//  left:20px !important;
//  right:20px !important;
//}
.point{
  position: absolute;
  width: 15px;
  height: 15px;
  background: #222222;
  border-radius: 50%;
}
.point-left-top{
  left: -5px;
  top:-5px;
}
.point-left-bottom{
  left: -5px;
  bottom:-5px;
}
.point-right-top{
  right: -5px;
  top:-5px;
}
.point-right-bottom{
  right: -5px;
  bottom:-5px;
}


